<mat-dialog-content class="mat-typography">
  <div class="row mb-3">
    <div class="col-12  col-md-6 trailer">
      <iframe class="border border-warning w-100 h-100" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen [src]="movieTrailer | safe"></iframe>
    </div>
    <div class="col-12  col-md-6 trailer">
      <img [src]="data.HinhAnh" alt="" class="img-fluid">
    </div>
  </div>
  <form [formGroup]="movieFormGroup" (ngSubmit)="confirmEditting(movieFormGroup.value, file?.files)">
    <div class="row">
      <div class="col-12 information">
        <div class="row align-items-center">
          <label class="col-4"><b>Movie Title:</b></label>
          <input class="form-control col-8" [value]=" data.TenPhim " [readonly]="!needEditting" id="TenPhim"
            formControlName="TenPhim">
        </div>

        <div class="row align-items-center">
          <label class="col-4"><b>Movie ID:</b></label>
          <input class="form-control col-8" [value]=" data.MaPhim " [readonly]="!needEditting" formControlName="MaPhim">
        </div>

        <div class="row align-items-center">
          <label class="col-4"><b>Released Day:</b></label>
          <input class="form-control col-8" [value]=" data.NgayKhoiChieu | date:short " [readonly]="!needEditting"
            formControlName="NgayKhoiChieu">
        </div>

        <div class="row align-items-center">
          <label class="col-4"><b>Rates:</b></label>
          <input class="form-control col-8" [value]=" data.DanhGia " [readonly]="!needEditting" formControlName="DanhGia">
        </div>

        <div class="row align-items-center">
          <label class="col-4"><b>Trailer:</b></label>
          <input class="form-control col-8" [value]=" data.Trailer " [readonly]="!needEditting" formControlName="Trailer">
        </div>

        <div class="row align-items-center"  [hidden]="!needEditting">
          <label class="col-4"><b>Poster:</b></label>
          <input class=" form-control col-8" type="text" readonly [value]=" data.HinhAnh  " formControlName="HinhAnh">
          <input class="col-8 ml-auto" type="file" #file>
        </div>

      </div>

      <div class="col-12 plot mt-3">
        <p class="lead ">
          <b>Plot:</b>
        </p>
        <textarea class="form-control h-100" [value]="data.MoTa" [readonly]="!needEditting" formControlName="MoTa"></textarea>
      </div>
    </div>

    <div class="col-12 mt-5">
      <mat-dialog-actions align="end">
        <button type="button" mat-raised-button color="primary" (click)="editMovie(data)" [hidden]="needEditting">Edit</button>
        <button type="submit" mat-raised-button color="primary" [hidden]="!needEditting">Update</button>
        <button type="button" mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
      </mat-dialog-actions>
    </div>
  </form>



</mat-dialog-content>
