.banner-wrapper {
  height: 80vh;
  overflow: hidden;
}

@media screen and (max-width:576px) {
    .banner-wrapper {
        height: 50vh;
        display: flex;
        align-items: center;
      }
}
