<div class="row">

  <div class="col-12 col-md-6 trailer">
    <iframe class="border border-warning" width="100%" height="100%" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen [src]="movieTrailer | safe"></iframe>
  </div>

  <div class="col-12 col-md-6 information">
    <div class="row">

      <p class="lead col-4">
        <b>Released Day:</b>
      </p>
      <p class="lead col-8">{{movieInfo?.NgayKhoiChieu | date:'dd/MM/yyyy'}}</p>
    </div>

    <div class="row">
      <p class="lead col-4">
        <b>Director:</b>
      </p>
      <p class="lead col-8">Mr. Khoa Nguyen</p>
    </div>

    <div class="row">
      <p class="lead col-4">
        <b>Actors/ Actresses:</b>
      </p>
      <p class="lead col-8"></p>
    </div>

    <div class="row">
      <p class="lead col-4">
        <b>Genre:</b>
      </p>
      <p class="lead col-8"></p>
    </div>

    <div class="row">
      <p class="lead col-4">
        <b>Format:</b>
      </p>
      <p class="lead col-8">IMAX/ 3D/ 2D</p>
    </div>

    <div class="row">
      <p class="lead col-4">
        <b>Country:</b>
      </p>
      <p class="lead col-8">America</p>
    </div>

  </div>

  <div class="col-12 plot mt-5">
    <p class="lead ">
      <b>Plot:</b>
    </p>
    <p class="lead">
      {{movieInfo?.MoTa}}
    </p>
  </div>

</div>
