<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-1 mt-3">
      <button mat-fab color="primary" routerLink="add">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="col-4 ml-auto mt-3">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for any thing here...">
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="mat-elevation-z8 table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="TaiKhoan">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
            <td mat-cell *matCellDef="let user"> {{user.TaiKhoan }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="HoTen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
            <td mat-cell *matCellDef="let user"> {{user.HoTen}} </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.Email}} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let user">
              <div class="btn-group w-100 justify-content-center flex-column flex-md-row">

                <button mat-flat-button color="primary" (click)="seeUserDetail(user)">See Detail</button>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let i =index">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10,20,40]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
