<div class="view intro" style="background-image: url('./../../../../assets/img/backapp.jpg'); background-attachment: fixed; background-size: cover; min-height: 500px; height:500px">
  
  <div class="row pt-2 h-100 align-items-center">

      <!--Grid column-->
      <div class="col-sm-5 col-6 text-center">
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" class="img-fluid m-auto z-depth-0">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-sm-5 col-6 m-auto">

          <!--Grid row-->
          <div class="row pb-3">
              <div class="col-2 col-md-1">
                  <i class="fa fa-mail-forward fa-lg indigo-text text-warning"></i>
              </div>
              <div class="col-10">
                  <h5 class="font-weight-bold text-left mb-3 text-white">Convenient</h5>
                  <p class="grey-text text-left d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam.</p>
              </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
              <div class="col-2 col-md-1">
                  <i class="fa fa-mail-forward fa-lg indigo-text text-warning"></i>
              </div>
              <div class="col-10">
                  <h5 class="font-weight-bold text-left mb-3 text-white">Fast</h5>
                  <p class="grey-text text-left d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam.</p>
              </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
              <div class="col-2 col-md-1">
                  <i class="fa fa-mail-forward fa-lg indigo-text text-warning"></i>
              </div>
              <div class="col-10">
                  <h5 class="font-weight-bold text-left mb-3 text-white">Functional</h5>
                  <p class="grey-text text-left  d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam.</p>
              </div>
          </div>
          <!--Grid row-->

      </div>
      <!--Grid column-->

  </div>
  
  <!-- <div class="full-bg-img mask rgba-stylish-light">
  </div> -->
</div>
