


    <div class="row">
      <div class="col-3">
        <div class="view overlay rounded z-depth-1 mb-4 small-news-wrapper">
          <img class="img-fluid" [src]="newsItem.HinhAnh" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>
      </div>

      <div class="col-9">
        <p class="font-weight-bold dark-grey-text">{{newsItem.NgayPost}}</p>
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a href="#!" class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis</a>
          </div>
          <a>
            <i class="fa fa-angle-double-right"></i>
          </a>
        </div>
      </div>
    </div>
